DISCORD_TOKEN=PASTE_YOUR_BOT_TOKEN_HERE
OPENWEATHER_API_KEY=
SUGGESTION_CHANNEL_ID=
PORT=3000
LOG_CHANNEL_ID=
QUARANTINE_ROLE_ID=
ALLOWED_USER_IDS=
TRUSTED_ROLE_IDS=
OWNER_USER_IDS=
STREAMING_NAME=Bearded Sexy Brown Boys
STREAMING_URL=https://twitch.tv/a
PRESENCE_STATUS=online
MOD_LOG_RETENTION_DAYS=30
# Trusted users/roles should be listed in ALLOWED_USER_IDS, TRUSTED_ROLE_IDS, and OWNER_USER_IDS.
JOIN_RAID_THRESHOLD=3
JOIN_RAID_WINDOW_SECONDS=10
ACTION_LIMIT_WINDOW_SECONDS=10
ACTION_LIMIT_CHANNEL_DELETE=1
ACTION_LIMIT_CHANNEL_CREATE=1
ACTION_LIMIT_ROLE_DELETE=1
ACTION_LIMIT_ROLE_CREATE=1
ACTION_LIMIT_BAN=1
ACTION_LIMIT_KICK=1
ACTION_LIMIT_WEBHOOK_UPDATE=1
AUTO_LOCKDOWN=true
AUTO_UNLOCK_AFTER_NUKE=true
NUKE_LOCKDOWN_SECONDS=60
AUTO_QUARANTINE=true
AUTO_BAN_ATTACKERS=true
IMMEDIATE_CHANNEL_DELETE_BAN=true
AUTO_STRIP_NUKE_ROLES=true
AUTO_BAN_RAID_BOTS=true
AUTO_BAN_MASS_MENTIONERS=true
AUTO_CLEANUP_NUKE_ARTIFACTS=true
NUKE_CLEANUP_WINDOW_SECONDS=60
MASS_MENTION_WINDOW_SECONDS=30
LOG_DEDUPE_WINDOW_SECONDS=5
BACKUP_SCAN_INTERVAL_SECONDS=300
BACKUP_GUILD_NAME=
BACKUP_GUILD_ICON_URL=
DRY_RUN=false
